@use '../index' as *;

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $white;
  .site-title {
    margin: 0 auto;
    .logo{
      margin: .5rem;
      width: 15rem;
    }
  }
  .nav-list {
    margin: .5rem .5rem 2rem 2rem;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: 'futura-pt', sans-serif;
    .list-item {
      margin: 0;
      font-weight: 100;
      font-size: 0.8rem;
      line-height: 1rem;
      text-transform: capitalize;
      .link {
        margin: 0;
        padding: 0.5rem;
        color: rgba(61, 57, 57, 0.938);
        line-height: 1rem;
        text-decoration: none;
        text-transform: capitalize;
      }
      .active-nav-item{
        color: black;
        font-weight: 300;
      }
      .button{
        background-color: #015C99;
        color: white;
        border-radius: 5px;
        margin: 0;
        text-decoration: none;
        padding: 0.5rem 1rem;
      }
    }
  }
}

@media only screen and (min-width: 808px) {
  .nav {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .site-title {
      margin: 0 auto 0 0;
      padding: .5rem;
    }
    .nav-list {
    margin: 0;
      .list-item {
        .link {
          font-size: .9rem;
            padding: 0.2rem 1rem;
        }
      }
    }
  }
}
