@import "../../styles/typography.css";

.article-container {
  border: 2px solid;
  // display: flex;
  justify-content: left;
  // flex-wrap: wrap;
  // width: 70vw;
  // flex-direction: column;

  .article {
    border: 1px solid;
    // display: flex;
    // flex-direction: row;
    // min-width: 50%;
    width: 15vw;
    justify-content: left;
    margin: 2rem;
    .article-image {
      cursor: pointer;
      .image {
        width: 16rem;
        height: 16rem;
        object-fit: contain;
      }
    }
    .article-text {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      .article-title {
        font-family: "YuGothic";
        font-weight: 500;
      }
      .article-date {
        font-weight: 100;
      }
      .article-description {
        max-width: 12rem;
      }
    }
  }
}

// PC
@media only screen and (min-width: 842px) {
  .article-container {
    .article {
      // flex-direction: row;
      justify-content: left;
      height: 18rem;
      .article-image {
        margin-right: 1rem;
      }
      .article-text {
        margin-top: 0;
      }
    }
  }
}
