@import "../../styles/typography.css";

.article {
  // border: 1px blue solid;
  width: 100%;
  max-width: 100%;
  padding: 2rem;
  // justify-content: center;
  // margin: 2rem;
  flex-direction: column;

  .article-image {
    // cursor: pointer;
    position: relative;
    .image {
      width: 100%;
      height: 15rem;
      // margin: 1rem;
      // object-fit: contain;
      // margin-left: auto;
      // margin-right: auto;
    }
  }
  .article-text {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    .article-title {
      font-family: "YuGothic";
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
    .article-date {
      font-weight: 100;
    }
    .article-description {
      max-width: 15rem;
    }
  }
}

// Tablet
@media only screen and (min-width: 800px) {
  .article {
    max-width: 50%;
    width: 50%;

    // flex-direction: row;
    // justify-content: left;
    // height: 18rem;
    .article-image {
      // margin-right: 1rem;
    }
    .article-text {
      // margin-top: 0;
    }
  }
}

// PC
@media only screen and (min-width: 1200px) {
  .article {
    max-width: 33%;
    width: 33%;
    // flex-direction: row;
    // justify-content: left;
    // height: 18rem;
    .article-image {
      // margin-right: 1rem;
    }
    .article-text {
      // margin-top: 0;
    }
  }
}
