.background{
    background-image: url('../../images/ticket.png');
    background-size: 100% 50vh;
    background-attachment: scroll;
    background-repeat: no-repeat; 
    background-position: top;
    margin: 2rem auto;
}