@import "../../styles/typography.css";

.background {
  background-image: url("../../images/ticket.png");
  background-size: 100% 100%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: top;
  height: 33vw;
  width: 100vw;
}

.ticket {
  padding-top: 3vw;
  padding-left: 8vw;
  .title {
    font-size: 3vw;
    min-height: 16vw;
  }
  .subtitle {
    font-size: 2vw;
    color: #015c99;
    line-height: 2vw;
  }
  .desc {
    // border: 1px solid;
    float: left;
    width: 50%;
    height: 12vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    font-size: 1.5vw;
    line-height: 1.7vw;
  }
  .date {
    // border: 1px solid;
    width: 20%;
    height: 12vw;
    float: left;
    padding-right: 1vw;
    padding-bottom: 1vw;
    font-size: 3vw;
    line-height: 3vw;
  }
  .viewlayout {
    border: 1px solid;
    width: 27%;
    height: 12vw;
    float: left;
    padding-top: 7vw;
    padding-bottom: 1vw;
  }
  .viewbutton {
    float: right;
    width: 7vw;
    text-align: center;
    font-size: 2vw;
    line-height: 2vw;
    font-weight: 900;
    padding: 0.5vw;
    color: white;
    border-radius: 1vw;
    background-color: #015c99;
  }
}

@media only screen and (min-width: 500px) {
}

@media only screen and (min-width: 1200px) {
}
