$white: #fcfbfe;
$purple: #7649fe;
$dark: #5344a9;
$orange: #f47f6b;
$pink: #bb5098;
$black: #2c2f33;

.card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 90vw;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  .card-text {
    .card-title {
      font-family: "YuGothic";
      margin-bottom: 2rem;
      text-align: center;
    }
    .card-desc {
      font-family: "YuGothic";
      font-weight: 100;
      color: $black;
      margin-bottom: 0.2rem;

      text-align: center;
    }
  }
  .card-image {
    width: 12rem;
    height: 12rem;
    .image {
      height: 100%;
      object-fit: cover;
      img {
        animation: rotate 3s ease infinite;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@media only screen and (min-width: 1080px) {
  .card {
    flex-direction: row;
    justify-content: left;
    width: 50%;
    margin: 1rem 0 0 0;
    .card-image {
      margin-bottom: 0;
      margin-right: 3rem;
      min-width: 12rem;
      min-height: 12rem;
      img {
        object-fit: fill;
      }
    }
    .card-text {
      .card-title {
        text-align: justify;
      }
      .card-desc {
        text-align: justify;
      }
    }
  }
}
