$white: #fcfbfe;
$purple: #7649fe;
$dark: #5344a9;
$orange: #f47f6b;
$pink: #bb5098;
$black: #2c2f33;

.card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 90vw;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  .card-text {
    .card-title {
      font-family: "YuGothic";
      margin-bottom: 2rem;
      text-align: center;
    }
    .card-desc {
      font-family: "YuGothic";
      font-weight: 100;
      color: $black;
      margin-bottom: 0.2rem;

      text-align: center;
    }
  }
  .card-image {
    width: 12rem;
    height: 12rem;
    .image {
      height: 100%;
      object-fit: cover;
    }
  }
}

@media only screen and (min-width: 781px) {
  .card {
    flex-direction: row;
    flex-wrap: wrap;
    .card-image {
      width: 20rem;
      height: 20rem;
      margin-right: 1rem;
      margin-bottom: 0;
    }
  }
}
