.container {
  color: black;
  .title {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title-text {
      font-family: "Noto Serif JP", serif;
      color: black;
      font-weight: 100;
      text-align: center;
      max-width: 22rem;
      margin-bottom: 2rem;
    }
    .subtext {
      font-family: "Noto Serif JP", serif;
      font-weight: 100;
      text-align: center;
      min-width: 24rem;
      margin-bottom: 2rem;
    }
  }
}
.messageSection{
    max-width: 48rem;
    margin: 0 auto;
    color: black;
    .messageTitle{
        font-family: "Noto Serif JP", serif;
        font-weight: 100;
        margin-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .messageText{
        font-family: "Noto Serif JP", serif;
        font-weight: 100;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}