.container {
  border-radius: 5px;
  padding: 20px;
    .title-large{
      font-family: 'futura-pt', sans-serif;
      font-weight: 500;
      font-size: 4rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
      text-transform: uppercase;
      text-align: center;
      color: black;   
    }
    .form-container{
      max-width: 60vw;
      margin: 0 auto;
      .label{
        padding-right: 2rem;
      }
      sup{
        color: red;
      }
      
      input[type="text"],
      select,
      textarea {
        width: 100%;
        padding: 1rem; 
        border: 1px solid #ccc;
        border-radius: .5rem; 
        box-sizing: border-box;
        margin-top: .5rem; 
        margin-bottom: 1.5rem; 
        resize: vertical;
      }
      
      input[type="email"]{
        width: 100%; 
        padding: 12px; /* Some padding */
        border: 1px solid #ccc; /* Gray border */
        border-radius: .5rem; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
      }
      
      
      .submit{
        background-color: #015c99;
        border: none;
        color: white;
        border-radius: .6rem;
        padding: .5rem 1rem;
      }
    }
}


@media only screen and (min-width: 842px) {
  .container{
    .title-large{
      font-size: 5rem;
    }
    .form-container{
      max-width: 30vw;
    }
  }
}


