$white: #fcfbfe;
$blue: #015c99;
$dark: #5344a9;
$orange: #f47f6b;
$pink: #bb5098;
$black: #2c2f33;

.container {
  .action-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    margin: 3rem auto 0 auto;
    position: relative;
    .action {
      text-transform: uppercase;
      color: $black;
      font-family: "futura-pt";
      font-weight: 300;
      text-align: center;
      font-size: 5rem;
    }
    .subtext-jp {
      width: 90vw;
      margin: 3rem auto;
      padding: 0;
      text-align: left;
      p {
        color: $blue;
        font-weight: 600;
        font-family: "YuGothic";
        margin: 0;
        line-height: 2rem;
      }
    }
  }
  .explanation {
    width: 90vw;
    margin: 0 auto;
    padding-left: 0;
    .paragraph {
      color: $black;
      // font-weight: 500;
      // font-family: sans-serif;
      font-family: "YuGothic";
      font-weight: 100;
      font-size: 1rem;
      max-width: 56rem;
      line-height: 2rem;
      .span {
        color: $blue;
        font-weight: 800;
        // font-size: 1.2rem;
      }
      .deadline {
        color: red;
      }
    }
  }
}

.cards {
  margin: 3rem auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  position: relative;
}

.bottom-text {
  margin: 5rem auto;
  width: 90vw;
  font-weight: 500;
  text-align: justify;
  line-height: 2rem;
  display: flex;
  justify-content: center;

  color: $black;
  font-family: "YuGothic";
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: -100%;
    width: 100%;
  }
}

@keyframes slide-delay {
  from {
    margin-left: 120%;
    width: 100%;
  }

  to {
    margin-left: -120%;
    width: 100%;
  }
}

@media only screen and (min-width: 840px) {
  .container {
    .action-title {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // width: 78vw;
      // margin: 3rem auto 0 auto;
      // position: relative;
      .action {
        text-transform: uppercase;
        color: $black;
        font-family: "futura-pt";
        font-weight: 300;
        // text-align: center;
        font-size: 5rem;
      }
      .subtext-jp {
        width: 48vw;
        max-width: 60rem;
        margin: 3rem auto;
        padding: 0;
        text-align: left;
        p {
          color: $blue;
          font-weight: 600;
          font-family: "YuGothic";
          font-size: 1rem;
          margin: 0;
          line-height: 2rem;
        }
      }
    }

    .explanation {
      width: 55vw;
      margin: 0 auto;
      padding-left: 0;
      .paragraph {
        color: $black;
        font-family: "YuGothic";
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: 2rem;
        .span {
          color: $blue;
          font-weight: 800;
          font-size: 1.2rem;
        }
      }
    }
  }
  .bottom-text {
    width: 70vw;
    text-align: center;
  }

  .cards {
    display: flex;
    max-width: 70vw;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
